<nav class="lnb">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1 class="visually-hidden">스토어 메뉴</h1>
        <ul class="lnb-list">
          <li class="lnb-item is-active"><a href="#">스토어</a></li>
          <li class="lnb-item"><a href="#">카테고리</a></li>
          <li class="lnb-item"><a href="#">신혼가구</a></li>
          <li class="lnb-item"><a href="#">베스트</a></li>
          <li class="lnb-item"><a href="#">오늘의딜</a></li>
          <li class="lnb-item"><a href="#">연휴특가</a></li>
          <li class="lnb-item"><a href="#">월동준비</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>