<section class="product-section product-recommendation" id="product-recommendation" role="tabpanel">
  <header class="product-section-header">
    <h1 class="title">비슷한 상품</h1>
  </header>

  <div class="product-section-content">
    <ul class="product-list">
      <li class="product-item">
        <a href="/">
          <div class="product-card">
            <div class="product-card-image">
              <img src="./assets/images/img-recommendation-01.jpg" alt="" />
            </div>

            <span class="product-card-brand">emk</span>
            <h3 class="product-card-title">
              시즌템! 감성 레트로 전기히터 EQH-S161 3 colors
            </h3>

            <div class="product-card-price">
              <span class="percent">72%</span>
              <strong class="price">49,000</strong>
            </div>

            <dl class="product-card-detail">
              <div class="rating">
                <dt>
                  <i class="ic-star"></i>
                  <span class="visually-hidden">평점</span>
                </dt>
                <dd>4.6</dd>
              </div>

              <div class="review">
                <dt>리뷰</dt>
                <dd>3,605</dd>
              </div>
            </dl>

            <strong class="tag-gray">무료배송</strong>
          </div>
        </a>
      </li>

      <li class="product-item">
        <a href="/">
          <div class="product-card">
            <div class="product-card-image">
              <img src="./assets/images/img-recommendation-03.jpg" alt="" />
            </div>

            <span class="product-card-brand">
              플러스마이너스제로
            </span>
            <h3 class="product-card-title">
              원적외선 2단 히터 XHS-Y010
            </h3>

            <div class="product-card-price">
              <span class="percent">10%</span>
              <strong class="price">88,200</strong>
            </div>

            <dl class="product-card-detail">
              <div class="rating">
                <dt>
                  <i class="ic-star"></i>
                  <span class="visually-hidden">평점</span>
                </dt>
                <dd>4.5</dd>
              </div>

              <div class="review">
                <dt>리뷰</dt>
                <dd>28</dd>
              </div>
            </dl>

            <strong class="tag-gray">무료배송</strong>
          </div>
        </a>
      </li>

      <li class="product-item">
        <a href="/">
          <div class="product-card">
            <div class="product-card-image">
              <img src="./assets/images/img-recommendation-02.jpg" alt="" />
            </div>

            <span class="product-card-brand">
              플러스마이너스제로
            </span>
            <h3 class="product-card-title">
              리플렉트 에코히터 4colors
            </h3>

            <div class="product-card-price">
              <span class="percent">23%</span>
              <strong class="price">129,000</strong>
            </div>

            <dl class="product-card-detail">
              <div class="rating">
                <dt>
                  <i class="ic-star"></i>
                  <span class="visually-hidden">평점</span>
                </dt>
                <dd>4.6</dd>
              </div>

              <div class="review">
                <dt>리뷰</dt>
                <dd>605</dd>
              </div>
            </dl>

            <strong class="tag-gray">무료배송</strong>
          </div>
        </a>
      </li>

      <li class="product-item">
        <a href="/">
          <div class="product-card">
            <div class="product-card-image">
              <img src="./assets/images/img-recommendation-04.jpg" alt="" />
            </div>

            <span class="product-card-brand"> 코시나 </span>
            <h3 class="product-card-title">
              오방난로 히터 6종 모음전
            </h3>

            <div class="product-card-price">
              <span class="percent">52%</span>
              <strong class="price">56,900</strong>
            </div>

            <dl class="product-card-detail">
              <div class="rating">
                <dt>
                  <i class="ic-star"></i>
                  <span class="visually-hidden">평점</span>
                </dt>
                <dd>4.6</dd>
              </div>

              <div class="review">
                <dt>리뷰</dt>
                <dd>250</dd>
              </div>
            </dl>

            <strong class="tag-gray">무료배송</strong>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>