<div class="product-shipment" id="product-shipment" role="tabpanel">
  <header class="product-section-header sm-only">
    <h1 class="title">배송/교환/환불</h1>

    <button class="icon-button" type="button" aria-label="더보기">
      <i class="ic-chevron" aria-hidden></i>
    </button>
  </header>

  <section class="product-section">
    <header class="product-section-header">
      <h1 class="title">배송</h1>
    </header>

    <div class="product-section-content">
      <table class="product-table">
        <tbody>
          <tr>
            <th scope="row">배송</th>
            <td>일반택배</td>
          </tr>
          <tr>
            <th scope="row">배송비</th>
            <td>무료 배송</td>
          </tr>
          <tr>
            <th scope="row">배송불가 지역</th>
            <td>배송불가 지역이 없습니다</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="product-section-divider sm-only" aria-hidden></div>

  <section class="product-section">
    <header class="product-section-header">
      <h1 class="title">교환/환불</h1>
    </header>

    <div class="product-section-content">
      <table class="product-table">
        <tbody>
          <tr>
            <th scope="row">반품배송비</th>
            <td>
              2,500원 (최초 배송비가 무료인 경우 5,000원 부과)
            </td>
          </tr>
          <tr>
            <th scope="row">교환배송비</th>
            <td>5,000원</td>
          </tr>
          <tr>
            <th scope="row">보내실 곳</th>
            <td>(00000) 서울 종로구 누하동</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="product-section-divider sm-only" aria-hidden></div>
</div>