<aside class="search-modal lg-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <header class="search-modal-header">
          <h1 class="visually-hidden">검색창</h1>
          <div class="search-modal-form">
            <div class="input-group">
              <i class="ic-search" aria-hidden></i>
              <input class="form-input" type="text" placeholder="스토어 검색" />
            </div>
            <button class="btn-ghost btn-40 " type="button">취소</button>
          </div>
        </header>

        <section class="search-history">
          <header class="search-history-header">
            <h2 class="title">최근 검색어</h2>
            <button type="button">전체 삭제</button>
          </header>

          <div class="search-history-content">
            <!-- 최근 검색어가 존재하는 경우 -->
            <ol>
              <li class="search-history-item">
                <button class="word-button" type="button">버그</button>
                <button class="delete-button" type="button">
                  <i class="ic-close" aria-label="검색어 삭제"></i>
                </button>
              </li>
              <li class="search-history-item">
                <button class="word-button" type="button">김버그</button>
                <button class="delete-button" type="button">
                  <i class="ic-close" aria-label="검색어 삭제"></i>
                </button>
              </li>
              <li class="search-history-item">
                <button class="word-button" type="button">김버</button>
                <button class="delete-button" type="button">
                  <i class="ic-close" aria-label="검색어 삭제"></i>
                </button>
              </li>
            </ol>
          </div>

          <div class="search-history-content">
            <!-- 최근 검색어가 존재하지 않는 경우 -->
            <p class="placeholder">최근 검색한 내역이 없습니다.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</aside>