<aside class="sidebar sm-only">
  <header class="sidebar-header">
    <h1 class="logo">
      <a href="#">
        <img src="./assets/images/logo.svg" alt="내일의 집">
      </a>
    </h1>

    <div class="sidebar-user">
      <a href="#">
        <div class="avatar-24">
          <img src="./assets/images/img-user-01.jpg" alt="사달라 아저씨" />
        </div>
        <strong class="username">사달라달라사달라달라사달라달라사달라달라</strong>
      </a>
    </div>
  </header>

  <nav class="sidebar-nav">
    <h2 class="visually-hidden">메뉴</h2>
    <div class="drawer-menu">
      <button class="drawer-menu-button" type="button">
        <i class="ic-store" aria-hidden></i>
        스토어
        <i class="ic-chevron" aria-hidden></i>
      </button>
      <div class="drawer-menu-content">
        <ul class="drawer-menu-list">
          <li class="drawer-menu-item"><a href="#">스토어홈</a></li>
          <li class="drawer-menu-item"><a href="#">신혼가구</a></li>
          <li class="drawer-menu-item"><a href="#">카테고리</a></li>
          <li class="drawer-menu-item">
            <a href="#">
              기획전
              <i class="ic-new" aria-label="새로운 기획전"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="drawer-menu">
      <button class="drawer-menu-button" type="button">
        <i class="ic-store" aria-hidden></i>
        스토어(ex2)
        <i class="ic-chevron" aria-hidden></i>
      </button>
      <div class="drawer-menu-content">
        <ul class="drawer-menu-list">
          <li class="drawer-menu-item"><a href="#">스토어홈2</a></li>
          <li class="drawer-menu-item"><a href="#">신혼가구2</a></li>
          <li class="drawer-menu-item"><a href="#">카테고리2</a></li>
          <li class="drawer-menu-item"><a href="#">기획전</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="sidebar-user-menu">
      <ul class="user-menu-list">
        <li class="user-menu-item"><a href="#">마이페이지</a></li>
        <li class="user-menu-item"><a href="#">나의 쇼핑</a></li>
        <li class="user-menu-item"><a href="#">스크랩북</a></li>
        <li class="user-menu-item"><a href="#">알림</a></li>
        <li class="user-menu-item"><a href="#">이벤트</a></li>
      </ul>
    </div>
  </nav>
</aside>